



@{
    ViewBag.Title = "<h1>Hello World</h1>";
}

@ViewBag.Title

@*用 Raw 輸出可以得到有效的 HTML 標籤文字*@
@Html.Raw(ViewBag.Title)

<ul>
    @for (int i = 0; i < 10; i++)
    {
        <li>@i</li>
    }
</ul>

@if (true)
{
    <blockquote>
        Hello World
    </blockquote>
}

@if (true)
{
    <text>Hello World</text>
}
